@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --Linear-1: hsl(0, 100%, 98%);
  --Linear-2: hsl(0, 80%, 86%);
  --ff-Josefin: "Josefin Sans", sans-serif;
}


body {
  font-family: var(--ff-Josefin);
  background-color: var(--Linear-1);
  background-image: url(assets/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.big-section {
  display: flex;
  width: 100%;
}


.body-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 3rem;
  height: 100%;
}


.section-1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;

}

.section-1-div-1 {
  padding-bottom: 2rem;
    padding: 1rem;
}

.section-1-div-1 img {
  width: 8rem;
}

.section-1-div-2 img {
  width: 100%;
}

.section-2 {
  width: 100%;
}

.section-2 h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 6px;
  margin-bottom: 1.5rem;
  color: var(--Dark-Grayish-Red);
  text-align: center;
}

.section-2 h1 span {
  color: var(--Desaturated-Red);
  font-weight: 300;
  display: block;
}

.section-2 p {
    padding: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--Desaturated-Red);
  text-align: center;
  margin-bottom: 2rem;
}

.form-div {
    padding: 1rem;
  width: 100%;
}

form {
  display: flex;
  position: relative;
  width: 100%;
}

form input {
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  font-size: 1rem;
  border: 1px solid var(--Desaturated-Red);
  border-radius: 2rem;
  background-color: var(--Linear-1);
}

form input::placeholder {
  color: var(--Desaturated-Red);
}

form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4.5rem;
  background-color: var(--Soft-Red);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

form button img {
  width: 1.25rem;
  height: 1.5rem;
}
#woman-img-1 {
  display: block;
}
#woman-img-2{
  display: none;
}
@media (min-width: 1024px) {
  #woman-img-2{
    display: block;
    height: 100vh;
  }
  #woman-img-1{
    display: none;
  }
  .body-div {
    background-image: url(assets/bg-pattern-desktop.svg);
      background-repeat: no-repeat;
  background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    width: 100%;
    height: 100vh;
    padding: 15rem;
    /* border: 1px solid green; */
  }
  .section-1-div-1 {
    padding: 0;
    margin-top: 6rem;
  }
    .section-1-div-1 img{
width: 12rem;
  }

  .section-2{
    margin-top: 6rem;
  }
  .section-2 h1{  
    letter-spacing: 1rem;
    width: 50%;
  }
  .section-2 p{
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-div {
    margin-bottom: 10rem;
  }
  /* ---- */
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;

}

.section-1-div-1 {
  padding-bottom: 2rem;

}

.section-1-div-1 img {
  width: 12rem;
}

.section-2 {
  width: 100%;
}

.section-2 h1 {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 6px;
  margin-bottom: 1.5rem;
  color: var(--Dark-Grayish-Red);
  text-align: left;
}

.section-2 h1 span {
  color: var(--Desaturated-Red);
  font-weight: 300;
}

.section-2 p {
padding: 0;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--Desaturated-Red);
  text-align: left;
  margin-bottom: 2rem;
}
.form-div{
  padding: 0;
}


} 